/*
	CSS Document for Prather & Harlan A/C
	Developer - Benjamin Jackson via Creative Design
*/

* {
	color: #999999;
}

body {
	background-color: #333333;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.heading {
	flex: 1;

}


/**********************************************
					Logo
**********************************************/

#logo img {
	max-width: 100%;
	margin-top: 50px;
	box-shadow: inset 0 -.1px  15px 1px #0d0d0d,
				0 15px 25px #0d0d0d;


}

/**********************************************
			Home Page Content
**********************************************/

.heading h1 {
	text-align: center;
	text-shadow: 2px 2px  2px #0d0d0d;
	padding: 5px;
	font-size: 2.5em;
}

.heading img {
	display: block;
	margin: 0 auto;
	margin-top: -5px;
	margin-bottom: 5px;
	width: 50%;
}

.heading p {
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px #0d0d0d;
}

#ccd-img {
	max-width: 50%;
	margin-bottom: -10px;
	margin-top: -15px;
}

#van-img {
	max-width: 50%;
	margin: 0 auto;
	box-shadow: inset 0px 0px 160px 30px #000;
}

#van-img img {
	position: relative;
	z-index: -2;
	width: 100%;
}

/**********************************************
			     Page: Services
**********************************************/

.services {
	text-align: center;
	text-shadow: 2px 2px  2px #0d0d0d;
	padding: 5px;
}

.services h1 {
	text-align: center;
	padding: 5px;
	font-size: 1.5em;
}

.service-list {
	list-style: none;
	padding: 0;
	font-size: 2.0em;
}

.serivce-list li:hover {
	color: #d9d9d9;
}

.services h2 {
	font-size: 3.0em;
	text-decoration: underline;
	padding: 5px;
}

.maint {
	list-style: none;
	padding: 0;
	font-weight: bold;
}

/**********************************************
			      Page: About
**********************************************/

.about-img img {
	: 100%;
}







/**********************************************
			  		Footer
**********************************************/

footer {
	background-color: #1a1a1a;
	width: 100%;
	}


.foot  div {
	width: 50%;
	height: 50px;
	float: right;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
}

#contact-button {
	padding-right: 15%;
	padding-top: 10px;
	color: white;
}


#contact-button button {
	background-color: #0d0d0d;
	border-radius: 10px;
	width: 100px;
	height: 30px;
}

#contact-button button:hover {
	background-color: black;
}

#contact-button button:focus {
	text-decoration: none;
	outline: none;
}



/**********************************************
					MediaQueries
**********************************************/

@media screen and (min-width: 769px) {

	body {
		background-color: #cccccc;
	}

	footer, footer div {
		background-color: white;
		color: black;
	}

	.navbar-inverse {
		color: black;
		background-color: white;
		border-bottom: none;
		box-shadow:	0 5px 10px #0d0d0d;
	}


	#logo {
		text-align: center;
	}

	#logo img {
		box-shadow: none;
		border: 1px solid black;
	}
   
	.wrapper {
		color: black;
		display: flex;
		justify-content: center;
		flex-direction: column;
		}

	.wrapper p {
		color: black;
		font-size: 1.5em;
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
		text-shadow: none;
	}
	


	
	.heading h1 {
		font-weight: bold;
		text-decoration: underline;
	}

	.heading h1, div p {
		color: black;
		text-shadow: none;		
	}

	


}

@media screen and (min-width: 1025px) {
	


	.wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.wrapper img {
		margin-top: 12%;
		margin-bottom: 10%;
	}

	.col {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 350px;

	}

	.item-2 {
		order: -1;
		flex-basis: 100%;

	}

	.item-1 {
		border-right: 1px solid;
	}

}










